/* Code Preview */
.vp-dataselector {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid var(--border-gray-color);
    z-index: 999;
    /* font */
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    color: var(--font-primary);
}
.vp-ds-variable-box {
    border: 1px solid var(--border-gray-color);
    height: 100px;
    grid-row-gap: 0px;
}
.vp-ds-var-item {
    height: 25px;
    border-bottom: 1px solid var(--border-gray-color);
}
.vp-ds-var-item:hover {
    background: var(--light-gray-color);
    color: var(--font-highlight);
    cursor: pointer;
}
.vp-ds-var-item.selected {
    background: var(--light-gray-color);
    color: var(--font-highlight);
    font-weight: bold;
}
.vp-ds-var-data {
    padding-left: 5px;
}
.vp-ds-var-type {
    border-left: 1px solid var(--border-gray-color);
    padding-left: 5px;
}
.vp-ds-option-box {

}
.vp-ds-preview {
    width: 100%;
    height: 35px;
    background-image: repeating-linear-gradient( to right, var(--grid-line-color) 0, var(--grid-line-color) 0.25px, transparent 1px, transparent 5px ), repeating-linear-gradient( to bottom, var(--grid-line-color) 0, var(--grid-line-color) 0.25px, transparent 1px, transparent 5px );
    background-color: white;
    border: 0.25px solid #E4E4E4;
}
.vp-ds-preview textarea {
    display: none;
}
.vp-ds-preview .CodeMirror-code .cm-variable {
    background-color: rgba(47, 133, 90, 0.2);
}
.vp-ds-preview .CodeMirror-code .cm-string {
    background-color: rgba(246, 173, 85, 0.2);
}