/* Select Boxes */
.vp-ins-box {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding-right: 15px;
}
.vp-ins-select-title {
    font-weight: bold;
    color: var(--font-highlight);
    padding: 5px 5px 5px 0px;
}
.vp-ins-select-container input.vp-ins-search {
    width: 100%;
}
.vp-ins-select-container .vp-ins-search-icon {
    position: absolute;
    color: #C4C4C4;
    right: 7px;
    top: 7px;
}
.vp-ins-select-box {
    margin-top: 5px;
    border: 0.25px solid var(--border-gray-color);
}
.vp-ins-select-list {
    height: 145px;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    color: #696969;
    overflow: auto;
}
.vp-ins-select-list::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.vp-ins-select-list::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
.vp-ins-select-list::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}
.vp-ins-select-item {
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    border-bottom: 0.25px solid var(--light-gray-color);
}
.vp-ins-select-item.selected {
    color : var(--font-highlight);
    background: var(--light-gray-color);
}
.vp-ins-select-item span {
    background: #e0e0e0;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    margin-right: 5px;
}
.vp-ins-select-item:hover {
    background: var(--light-gray-color);
}
.vp-ins-select-item:hover span {
    background: var(--highlight-color);
    color: #FFFFFF;
}
.vp-ins-option-box.api {
    width: 95%;
}
.vp-ins-parameter-box {
    grid-column: 1/3;
}
.vp-ins-parameter-box:empty::after {
    content: '(Empty)';
    color: var(--gray-color);
}
.vp-ins-parameter {
    width: 100% !important;
}
.vp-create-var-box {
    position: relative;
    margin-top: 5px;
}
.vp-ins-select-container .vp-create-var {
    width: 100% !important;
}
.vp-ins-select-container .vp-create-var-btn {
    position: absolute;
    color: #C4C4C4;
    right: 9px;
    top: 5px;
    cursor: pointer;
}