/*
 *    Project Name    : Visual Python
 *    Description     : GUI-based Python code generator
 *    File Name       : mainFrame.css
 *    Author          : Black Logic
 *    Note            : stylesheet for visualpython.html
 *    License         : GNU GPLv3 with Visual Python special exception
 *    Date            : 2021. 09. 13
 *    Change Date     :
 */
#vp_wrapper {
    /* CHROME: edited to show */
    /* display: none; */

    position: fixed;
    height: calc(100% - 110px);
    overflow: hidden;
    left: unset !important;
    object-fit: contain; 
    color: var(--font-primary);
    font-family: AppleSDGothicNeo;
    border: 1px solid var(--border-gray-color);
    top: 110px;
    right: 0;
    background: white;
    z-index: 100;
}

/* resizing handle */
#vp_wrapper > .ui-resizable-handle {
    position: absolute;
    margin-right: 5px;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 100%;
    cursor: col-resize;
}