:root {
    --border-gray-color: #E4E4E4;
    --grid-line-color: #E4E4E4;
    --light-gray-color: #F5F5F5;
    --highlight-color: #F6AD55;
    --gray-color: #C4C4C4;
    --font-hightlight: #F38504;
    --font-primary: #696969;
}