/*
 *    Project Name    : Visual Python
 *    Description     : GUI-based Python code generator
 *    File Name       : root.css
 *    Author          : Black Logic
 *    Note            : stylesheet for initializing global style variables
 *                      usage) background: var(--declared-variable-name);
 *    License         : GNU GPLv3 with Visual Python special exception
 *    Date            : 2021. 09. 13
 *    Change Date     :
 */
:root {
    --border-gray-color: #E4E4E4;
    --grid-line-color: #E4E4E4;
    --light-gray-color: #F5F5F5;
    --highlight-color: #F6AD55;
    --gray-color: #C4C4C4;
    --font-hightlight: #F38504;
    --font-primary: #696969;
    --logo-url: url(../../visualpython/img/logo.png);
}
/* Font */
/* Logo */
@font-face {
	font-family: Foglihten;
	src: url(../fonts/Foglihten-068.otf) format("opentype");
	font-style: normal;
	font-weight: 500;
}
/* Headlines, Body, Componenets */
@font-face {
	font-family: AppleSDGothicNeo;
	src: url(../fonts/AppleSDGothicNeoM.ttf) format("truetype");
}
/* Codes */
@font-face {
	font-family: Consola;
	src: url(../fonts/consola.ttf) format("truetype");
}
/* font style */
.vp-primary {
    color: var(--font-hightlight);
}
.vp-orange-text {
    color: var(--font-hightlight);
}
.vp-bold {
    font-weight: bold;
}
.vp-center {
    text-align: center;
}
/* Body */
body {
    overflow: hidden;
}
/* Jupyter Toolbar Icon */
/* com_Const.TOOLBAR_BTN_INFO.ID */
#vpBtnToggle i {
	background-image: url(../../visualpython/img/icon.png);
    background-size: contain;
    display: inline-block;
    width: 10px;
    height: 10px;
}
/* common component style */
.vp-input {
    font-size: 14px;
    line-height: 16px;
    height: 30px;
    padding: 3px 7px;
    color: var(--font-primary);
    background: #FFFFFF;
    outline-color: var(--highlight-color);
    border: 0.25px solid var(--border-gray-color);
    box-sizing: border-box;
}
.vp-input::placeholder {
	color: var(--gray-color);
}

.vp-file-browser-button {
	width: 22px;
	height: 22px;
	margin-left: 7px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	content: url(../img/folder_open.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: none;
}
.vp-select {
	height: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding: 5px 16px 3px 9px;
	background: url(../img/unfold_more.svg), #F5F5F5;
	background-position: 97% 50%;
	background-size: 11px 11px;
	background-repeat: no-repeat;
	outline: none;
	border: 0.25px solid var(--border-gray-color);
	border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vp-select::-ms-expand {
    display: none;
}

/* Select Option Design */
.vp-select * {
    background-color: white;
    color: #696969;
}

/* Input & Select Design - width m&s */
.vp-input.m,
.vp-select.m {
    width: 116px;
}
.vp-input.s,
.vp-select.s {
    width: 55px;
}

/* Buttons */
.vp-button {
    width: 80px;
    height: 30px;
    background: #FFFFFF;
    border: 0.25px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 10%);
    border-radius: 2px;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'AppleSDGothicNeo';
    font-size: 14px;
    text-align: center;
    color: #696969;
    cursor: pointer;
    /* No-selection allowed for buttons */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.vp-button:hover {
    background: #F8F8F8;
}
.vp-button.cancel {
    background: #E5E5E5;
    border: 0px;
}
.vp-button.cancel:hover {
    background: #DEDEDE;
}
.vp-button.add {
    background: #FFFFFF;
}
.vp-button.add:hover {
    background: #F8F8F8;
}
.vp-button.activated {
    background: #F38504;
    border: 0px;
    color: #FFFFFF;
}
.vp-button.activated:hover {
    background: #EF6B10;
}
.vp-button.disabled,
.vp-button.disabled:hover,
.vp-button:disabled,
.vp-button:disabled:hover {
    background: #E5E5E5;
    border: 0px;
    border: 0.25px solid #E4E4E4;
    color: #696969;
    cursor: not-allowed;
}

.vp-checkbox {
    display: inline-block;
    position: relative !important;
    width: 13px;
    height: 13px;
    border: 1px solid #828282;
    margin: 0px 15px;
}

/* Scrollbar */
.vp-scrollbar {
    overflow-y: auto;
    --webkit-mask-position: left top;
}
.vp-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
} 
.vp-scrollbar::-webkit-scrollbar-thumb {
    border: 0.3px solid #C4C4C4;
    background: #C4C4C4;
}

/* Scrollbar horizontal */
.vp-scrollbar-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    --webkit-mask-position: left top;
}
.vp-scrollbar-horizontal::-webkit-scrollbar {
    width: 5px;
    height: 5px;
} 
.vp-scrollbar-horizontal::-webkit-scrollbar-thumb {
    border: 0.3px solid #C4C4C4;
    background: #C4C4C4;
}

/* Accordian Box */
.vp-accordian {
    cursor: pointer;
}
.vp-accordian .vp-indicator {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}
.vp-accordian.vp-open .vp-indicator {
    background-image: url(../../visualpython/img/chevron_big_down.svg);
}
.vp-accordian.vp-close .vp-indicator {
    background-image: url(../../visualpython/img/chevron_big_right.svg);
}
.vp-accordian .vp-accordian-caption {
    font-weight: bold;
    color: var(--font-primary);
    margin-left: 5px;
}
.vp-accordian.vp-close + .vp-accordian-box {
    display: none !important;
}
.vp-accordian.vp-open + .vp-accordian-box {
    display: block !important;
}
/* cursor */
.vp-cursor {
    cursor: pointer;
}
/* hidden */
.vp-hidden {
    display: none;
}
/* No-selection */
.vp-no-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
/* divider */
hr.vp-extra-menu-line {
    margin: 5px 0px 7px 0px;
}
/* width style*/
.wp100 {
    width: 100% !important; 
}
.wp80 {
    width: 80% !important;
}
.wp50 {
    width: 50% !important; 
}
.wp49 {
    width: 49% !important;
}
.wp5 {
    width: 5% !important;
}
.w150 {
    width: 150px !important;
}
.w100 {
    width: 100px !important;
}
.w80 {
    width: 80px !important;
}
.w70 {
    width: 70px !important;
}
.w50 {
    width: 50px !important;
}
.w30 {
    width: 30px !important;
}
.w10 {
    width: 10px !important;
}
/* temporary margin */
.mb5 {
    margin-bottom: 5px;
}
.mr5 {
    margin-right: 5px;
}
/* Layout */
/* Grid style */
.vp-grid-box {
    display: grid;
    grid-row-gap: 5px;
}
.vp-grid-border-box {
    display: grid;
    align-items: baseline;
    align-content: center;
    border: 1px solid var(--border-gray-color);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    grid-row-gap: 5px;
}
.vp-grid-col-p50 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
    align-items: baseline;
    align-content: center;
}
.vp-grid-col-95 {
    display: grid;
    grid-template-columns: 95px auto;
    grid-row-gap: 5px;
    align-items: baseline;
    align-content: space-evenly;
}
/* Table style */
.vp-tbl-gap5 {
    border-spacing: 5px;
    border-collapse: separate;
}
.vp-tbl-gap10 {
    border-spacing: 10px;
    border-collapse: separate; 
}
/* Table Layout */
.vp-option-vertical-table-layout {
	/* width: 100%; */
	border-collapse: collapse;
	table-layout: fixed;
	color: var(--font-primary);
}
.vp-option-vertical-table-layout th {
	min-width: 130px;
	max-width: 300px;
	vertical-align: middle;
	text-align: left;
	height: 30px;
	padding: 2px 5px 2px 16px;
}
.vp-option-vertical-table-layout.vp-th-highlight th {
	color: var(--font-hightlight);
} 
.vp-option-vertical-table-layout td {
	min-width: 200px;
	vertical-align: middle;
	text-align: left;
	height: 30px;
	padding: 2px 5px;
}
.vp-option-vertical-table-layout .vp-center-align {
	text-align: center;
}
.vp-option-horizontal-table-layout {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	color: var(--font-primary);
}
.vp-option-horizontal-table-layout th {
	min-width: 150px;
	max-width: 300px;
	vertical-align: middle;
	text-align: left;
	height: 30px;
	padding: 2px 5px 2px 5px;
}
.vp-option-horizontal-table-layout.vp-th-highlight th {
	color: var(--font-hightlight);
} 
.vp-option-horizontal-table-layout td {
	min-width: 200px;
	vertical-align: middle;
	text-align: left;
	height: 30px;
	padding: 2px 5px;
}
.vp-option-horizontal-table-layout .vp-center-align {
	text-align: center;
}
/* jquery auto-complete */
.ui-autocomplete {
    z-index: 999;
}