:root {
    --color: #C4C4C4;
    --bgcolor: #696969;
}

.vp-icon-btn.vp-close-view {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.vp-option-title {
    display: inline-block;
    color: #696969;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.6px;
    margin: 16px 0px 14px 14px;
}
.vp-thead {
    min-width: 150px;
    max-width: 300px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 2px 5px 2px 16px;
}

/* Color Style Select */
.vp-plot-cmap {
    width: 176px;
    height: 25px;
    border: 0.25px solid var(--color);
    /* box-shadow: 1px 1px 3px 1px var(--color);
    border-radius: 5px; */
    margin-top: 5px;
    position: relative;
    display: flex;
    z-index: 1500;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='darkgray' height='14' viewBox='0 0 24 24' width='14' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}
.vp-plot-cmap span {
    font-size: 1em;
    font-weight: 700;
    line-height: 25px;
    padding-left: 5px;
}
.vp-plot-cmap-selector {
    width: 176px;
    height: 150px;
    overflow: auto;
    position: absolute;
    /* display: none; */
    top: 100%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    background-color: white;
    border: 0.25px solid var(--color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1000;
}
.vp-plot-cmap-selector .vp-plot-cmap-item { 
    width: 100%;
    height: 40px;
    /* background-image: attr(data-url url); */
    /* background-image: url(../../resource/pandas/cmap/Accent.JPG); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid transparent;
    position: relative;
    display: block;
    cursor: pointer;
    transition: all 0.5s;
    color: var(--color);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
/* .vp-plot-cmap-selector .vp-plot-cmap-item:hover {
    cursor: pointer;
    border-color: var(--color);
} */
.vp-plot-cmap-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}
.vp-plot-cmap-wrapper.open .vp-plot-cmap-selector {
    opacity: 1;
    visibility: visible;
    /* display: block; */
    pointer-events: all;
}

/* Plot Kind */
.vp-plot-kind {
    /* background: #F5F5F5; */
    width: 430px;
    display: grid;
    grid-template-rows: repeat(2, 90px);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 2.5px;
    margin: 5px 0px 30px 10px;
}
.vp-plot-item {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
}
/* .vp-plot-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: -1;
}
.vp-plot-item::after {
    content: attr(data-show-text);
    display: block;
    height: 100%;
    width: 100%;
    line-height: 80px;
    opacity: 0;
    text-align: center;
    color: white;
    position: absolute;
    border-radius: 15px;
    background: var(--bgcolor);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.vp-plot-item:hover:after {
    opacity: 0.6;
}
.vp-plot-item.selected:after {
    opacity: 0.8;
} */
.vp-plot-item .vp-plot-name {
    width: 100%;
    height: 13px;
    font-family: AppleSDGothicNeo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    margin-top: 5px;
}
.vp-plot-item.selected .vp-plot-thumb {
    border: 2px solid  var(--highlight-color);
}
.vp-plot-item.selected .vp-plot-name {
    color:  var(--font-hightlight) !important;
}
.vp-plot-item .vp-plot-thumb {
    width: 100%;
    height: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0.25px solid #c4c4c4;
}
.vp-plot-item .vp-plot-thumb.plot {
    background-image: url(../../resource/matplotlib/plot/plot.png);
}
.vp-plot-item .vp-plot-thumb.bar {
    background-image: url(../../resource/matplotlib/plot/bar.png);
}
.vp-plot-item .vp-plot-thumb.barh {
    background-image: url(../../resource/matplotlib/plot/barh.png);
}
.vp-plot-item .vp-plot-thumb.hist {
    background-image: url(../../resource/matplotlib/plot/hist.png);
}
.vp-plot-item .vp-plot-thumb.boxplot {
    background-image: url(../../resource/matplotlib/plot/boxplot.png);
}
.vp-plot-item .vp-plot-thumb.stackplot {
    background-image: url(../../resource/matplotlib/plot/stackplot.png);
}
.vp-plot-item .vp-plot-thumb.pie {
    background-image: url(../../resource/matplotlib/plot/pie.png);
}
.vp-plot-item .vp-plot-thumb.scatter {
    background-image: url(../../resource/matplotlib/plot/scatter.png);
}
.vp-plot-item .vp-plot-thumb.hexbin {
    background-image: url(../../resource/matplotlib/plot/hexbin.png);
}
.vp-plot-item .vp-plot-thumb.contour {
    background-image: url(../../resource/matplotlib/plot/contour.png);
}
.vp-plot-item .vp-plot-thumb.imshow {
    background-image: url(../../resource/matplotlib/plot/imshow.png);
}
.vp-plot-item .vp-plot-thumb.errorbar {
    background-image: url(../../resource/matplotlib/plot/errorbar.png);
}

/* Variable Viewer */
.vp-var-view-box {
    display: none;
    position: absolute;
    width: 280px;
    height: 260px;
    border: 0.25px solid #C4C4C4;
    background: #FFFFFF;
    color: #696969;
    padding: 5px;
    z-index: 99;
    right: 4%;
}
#vp-wrapper .vp-var-view-box .vp-var-view-div {
    height: 84px;
    overflow: auto;
}
#vp-wrapper .vp-var-view-box table.vp-option-table.vp-var-view-list,
#vp-wrapper .vp-var-view-box table.vp-option-table.vp-var-view-detail {
    margin-left: 10px;
    margin-top: 7px;
}
#vp-wrapper .vp-var-view-box .vp-var-view-list tbody tr:hover {
    background: #C4C4C4;
    padding: 3px;
    cursor: pointer;
}
#vp-wrapper .vp-var-view-box .vp-var-view-list tbody tr.selected {
    color:  var(--font-hightlight);
}
#vp-wrapper .vp-var-view-box .var-view-footer {
    padding-left: 10px;
    padding-bottom: 7px;
}
#vp-wrapper .vp-var-view-box .var-view-footer input[type="text"] {
    width: 200px;
}

/* Column Selector */
.vp-column-select,
.vp-method-select {
    border: 0.25px solid #C4C4C4;
    overflow-y: auto;
    width: 125px;
    height: 100px;
}
.vp-column-select-item,
.vp-method-select-item {
    padding-left: 3px;
    cursor: pointer;
}
.vp-column-select-item.selected,
.vp-method-select-item.selected {
    color:  var(--font-hightlight);
    background: #C4C4C4;
}

/* Select Data Button */
.vp-select-data {
    width: 80px;
    height: 30px;
    background: #F5F5F5;
    border: 0.25px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
}