<!--
    Project Name    : Visual Python
    Description     : GUI-based Python code generator
    File Name       : infoModal.html
    Author          : Black Logic
    Note            : Info modal
    License         : GNU GPLv3 with Visual Python special exception
    Date            : 2021. 12. 15
    Change Date     : 
-->
<!-- use body tag to strip comments out on requirejs/text plugin -->
<body>
    <div id="vp_infoModal">
        <div class="vp-infoModal-container" >
            <div class="vp-infoModal-inner 
                        vp-infoModal-style-flex-column-evenly">

                <div class="vp-infoModal-style-flex-row-center">
                    <!-- LAB: img to url -->
                    <!-- <img src="${vp_base}/img/info_circle.svg" class="vp-infoModal-icon" aria-hidden="true"> -->
                    <div class="vp-infoModal-icon" aria-hidden="true"></div>
                    </i>
                </div>

                <div class="vp-infoModal-titleStr 
                            vp-infoModal-style-text-center 
                            vp-infoModal-style-font-weight-700">
            
                </div>
                <div class="vp-infoModal-style-flex-row-center">
                    <input class="vp-infoModal-yes vp-button" type="submit" value="OK" />
                </div>
            </div>
        </div>
    </div>
</body>