<body>
    <div class="vp-if-body cm-s-ipython">
        <div class="vp-if-header">
            <label>Inner Function Viewer</label>
        </div>
        <div class="vp-if-search-box">
            <input type="text" class="vp-if-search vp-input" placeholder="Search"/>
            <!-- LAB: img to url -->
            <!-- <img class="vp-if-search-icon" src="${vp_base}/img/search.svg"> -->
            <div class="vp-if-search-icon"></div>
        </div>
        <div class="vp-if-table">
            
        </div>
    </div>
</body>