<body>
    <div class="vp-pm-body cm-s-ipython">
        <div class="vp-pm-search-box">
            <input type="text" class="vp-pm-search vp-input" placeholder="Search"/>
            <!-- LAB: img to url -->
            <!-- <img class="vp-pm-search-icon" src="${vp_base}/img/search.svg"> -->
            <div class="vp-pm-search-icon"></div>
        </div>
        <div class="vp-pm-func-box">
            <div class="vp-pm-func-left">
                <!-- LAB: img to url -->
                <div class="vp-pm-sort vp-close-on-blur-btn" data-menu="sort" title="Sort">
                </div>
                <div class="vp-pm-sort-menu-box vp-temp-popup-menu vp-close-on-blur">
                    <div class="vp-pm-sort-menu-item" data-menu="registered">Registered</div>
                    <div class="vp-pm-sort-menu-item" data-menu="name">by Names</div>
                    <div class="vp-pm-sort-menu-item" data-menu="installed">Installed</div>
                    <div class="vp-pm-sort-menu-item" data-menu="uninstalled">Uninstalled</div>
                </div>
            </div>
            <div class="vp-pm-func-right">
                <div class="vp-pm-func-reload vp-icon-refresh" title="Reload package list">

                </div>
                <div class="vp-pm-func-default-mode">
                    <button class="vp-button vp-pm-add" data-menu="add" title="Add new package to manage">+ Package</button>
                </div>
            </div>
        </div>
        <div class="vp-pm-table-header">
            <label class="vp-bold">Package</label>
            <label class="vp-bold">Version</label>
            <label></label>
        </div>
        <div class="vp-pm-table">
            
        </div>
    </div>
</body>