<!--
    Project Name    : Visual Python
    Description     : GUI-based Python code generator
    File Name       : successMessage.html
    Author          : Black Logic
    Note            : Success Message
    License         : GNU GPLv3 with Visual Python special exception
    Date            : 2021. 12. 15
    Change Date     : 
-->
<!-- use body tag to strip comments out on requirejs/text plugin -->
<body>
    <div id="vp_successMessage">
        <div class="vp-successMessage ">
            <div class="vp-successMessage-title"></div>
            <!-- LAB: img to url -->
            <!-- <img class="vp-successMessage-icon" src="${vp_base}/img/code.svg"> -->
            <div class="vp-successMessage-icon"></div>
        </div>
    </div>
</body>