include LICENSE
include *.md
include pyproject.toml

include package.json
include install.json
include ts*.json
include yarn.lock

graft visualpython/labextension

# Javascript files
graft lib
graft style
prune **/node_modules

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
