.vp-bd-container {
    width: 700px;
    height: 550px;
}

.vp-bd-container .vp-pp-body {
    overflow: hidden;
}

.vp-bd-grid-box {
    display: grid;
    grid-template-rows: 30px;
    grid-row-gap: 5px;
}
.vp-bd-grid-box label {
    font-weight: bold;
}
.vp-bd-grid-box select,
.vp-bd-grid-box input {
    width: 160px;
}

.vp-bd-type-box {
    display: grid;
    grid-template-rows: 30px;
    grid-row-gap: 5px;
}

.vp-bd-df-refresh {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}
