.vp-fe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 

    z-index: 1200;

    background-color: rgba(0,0,0,.4);
}

.vp-fe-button {
    width: 45px;
}

.vp-fe-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    
    min-width: 400px;
    min-height: 400px;
    width: 95%;
    height: 95%;

    background-color: white;
}

.vp-fe-title {
    height: 30px;
    padding: 5px 0px 5px 10px;

    background-color: #EEE;
    border:  1px solid #ddd;;
    display: flex; 
    flex-direction: row;
    position: relative;

    font-weight: 700;
}

.vp-fe-close,
.vp-fe-popup-close {
    position: fixed;
    z-index: 3;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 5px;
    text-align: center;
    cursor: pointer;
}

.vp-fe-body {
    width: 100%;
    height: calc(100% - 80px);
    padding: 10px;
    display: grid;
    grid-row-gap: 5px;
    /* grid-template-rows: 35px 30px 60% calc(40% - 80px); */
    /* grid-template-rows: 35px 30px calc(100% - 80px); */
    grid-template-rows: 35px 60px calc(100% - 110px);
}

/* preview code */
.vp-fe-preview {
    width: 100%;
    height: 35px;
    background-image: repeating-linear-gradient( to right, var(--grid-line-color) 0, var(--grid-line-color) 0.25px, transparent 1px, transparent 5px ), repeating-linear-gradient( to bottom, var(--grid-line-color) 0, var(--grid-line-color) 0.25px, transparent 1px, transparent 5px );
    background-color: white;
    border: 0.25px solid #E4E4E4;
}
.vp-fe-preview textarea {
    display: none;
}

.vp-fe-preview .CodeMirror-code .cm-variable {
    background-color: rgba(47, 133, 90, 0.2);
}

.vp-fe-preview .CodeMirror-code .cm-string {
    background-color: rgba(246, 173, 85, 0.2);
}

.vp-df-box {
    display: grid;
    grid-template-rows: 30px;
}
.vp-fe-df-box label {
    width: 70px;
}

.vp-fe #vp_feVariable { 
    width: 125px;
    /* margin-left: 5px; */
}

.vp-fe-df-refresh {
    cursor: pointer;
}


.vp-fe-menu-box {
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 70;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
}

.vp-fe-menu-box .vp-fe-menu-item {
    height: 25px;
    line-height: 25px;
    background: #FFFFFF;
    border: 0.25px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    border-radius: 2px;
    font-size: 11px;
    text-align: center;
    color: #696969;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-overflow: ellipsis;
    /* overflow: hidden; */
    white-space: nowrap;
    padding: 0px 5px;
}

.vp-fe-menu-box .vp-fe-menu-item:hover {
    background: #F8F8F8;
}

.vp-fe-menu-sub-box {
    display: none;
    position: absolute;
    left: 100%;
}

.vp-fe-menu-item:hover .vp-fe-menu-sub-box {
    display: block;
}

.vp-fe-popup-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    /* min-height: 150px; */
    width: 30%;
    height: fit-content;
    background-color: white;
    z-index: 200;
    border: 0.25px solid var(--border-gray-color);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
}

.vp-fe-popup-body {
    padding: 10px;
}

.vp-fe-popup-button-box {
    float: right;
    padding: 5px;
}

.vp-fe-table {
    height: 100%;
    background: var(--border-gray-color);
    overflow: auto;
}
.vp-fe-table table {
    border-collapse: separate;
    margin-top: 0px;
    margin-left: 0px;
}
.vp-fe-table table th {
    /* no-selection for th */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.vp-fe-table thead th {
    position: sticky;
    top: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
}

.vp-fe-table tbody tr:nth-child(odd) {
    background: #F5F5F5;
}
.vp-fe-table tbody tr:nth-child(even) {
    background: #FFFFFF;
}

.vp-fe-table th.selected {
    /* color: var(--hightlight-color); */
    background: #add3fd;
}

.vp-fe-table th:hover {
    cursor: pointer;
    /* background: var(--light-gray-color); */
    /* background: rgba(66, 165, 245, 0.2); */
}

/* row hover */
.vp-fe-table tbody tr:hover { 
    background-color: rgba(66, 165, 245, 0.2);
}

/* column hover */
/* .vp-fe-table thead th:not(:first-child):hover::after { 
    background: rgba(66, 165, 245, 0.2);
    content: '';  
    height: 100000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
} */

.vp-fe-table-more {
    margin: 5px;
}

.vp-fe-info {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 50px;
    background: #F7F7F7;
    border: 0.25px solid #E4E4E4;
    padding: 10px;
}

.vp-fe-info-title {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    background: #F5F5F5;
    padding: 0px 10px;
}

.vp-fe-info-content {
    width: 100%;
    height: calc(100% - 20px);
    overflow: auto;
}

.vp-fe-info-content pre {
    /* width: 300px; */
    padding:10px;
    white-space: pre-wrap;
    overflow: auto;
    white-space: pre-wrap; /* CSS3*/
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-all; /* Internet Explorer 5.5+ */
}

.vp-fe-info-error-box {
    margin: 7px;
    padding: 10px;
    background: #FFFFFF;
    border: 0.25px solid #C4C4C4;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    border-radius: 2px;
}
.vp-fe-info-error-box i.fa-exclamation-triangle {
    color: #F37704;
}
.vp-fe-info-error-box-title {
    color: #F37704;
    font-weight: bold;
}
.vp-fe-info-error-box pre {
    background: #eeeeee;
    margin: 0px;
    padding: 7px;
}

.vp-fe-preview-box {
    display: none;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 50px;
    
    background: #F7F7F7;
    border: 0.25px solid #E4E4E4;
    padding: 10px;
}

/** buttons */
.vp-fe-btn-box {
    /* position: absolute;
    bottom: 25px;
    right: 25px; */
    position: relative;
    height: 50px;
    border-top: 0.25px solid var(--border-gray-color);
}
.vp-fe-btn {
    position: absolute;
}
.vp-fe-btn-preview {
    left: 15px;
    top: 11px;
}
.vp-fe-btn-dataview {
    left: 105px;
    top: 11px;
}
.vp-fe-btn-cancel {
    top: 11px;
    right: 105px;
}
.vp-fe-btn-runadd {
    position: absolute;
    top: 11px;
    right: 15px;
    width: fit-content;
    height: 30px;
    background: #F38504;
    border-radius: 2px;
}
.vp-fe-btn-run {
    display: inline-block;
    width: 60px;
    border-radius: 2px 0px 0px 2px;
    border-right: 0.25px solid white !important;
}
.vp-fe-btn-detail {
    display: inline-block;
    width: 20px;
    border-radius: 0px 2px 2px 0px;
}
.vp-fe-detail-box {
    display: none;
    background: white;
    border: 0.25px solid var(--border-gray-color);
    position: absolute;
    bottom: 35px;
    right: 1px;
    width: 84px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.vp-fe-detail-item {
    color: var(--font-primary);
}
.vp-fe-detail-item:hover {
    color: var(--font-hightlight);
    background: var(--light-gray-color);
}

/* popup page */
/* add page */
.vp-popup-addpage {
    height: 300px;
}
.vp-popup-addpage .vp-popup-tab.replace {
    height: calc(100% - 50px);
}