.vp-pp {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1200;
    background-color: rgba(0,0,0,.4);
}
.vp-pp-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    min-width: 400px;
    min-height: 400px;
    width: 95%;
    height: 95%;
    background-color: white;
}
.vp-pp-title {
    height: 40px;
    padding: 5px 0px 5px 10px;
    background-color: #eee;
    border:  1px solid #ddd;;
    display: flex; 
    flex-direction: row;
    position: relative;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}
.vp-pp-close {
    position: fixed;
    z-index: 3;
    right: 5px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    top: 10px;
    text-align: center;
    cursor: pointer;
}
.vp-pp-body {
    width: 100%;
    height: calc(98% - 80px);
    padding: 20px;
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 30px 30px 60% calc(40% - 80px);
    overflow: auto;
}
.vp-pp-preview-box {
    display: none;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 50px;
    background: #F7F7F7;
    border: 0.25px solid #E4E4E4;
    padding: 10px;
}

/** Buttons */
.vp-pp-btn-box {
    /* position: absolute;
    bottom: 25px;
    right: 25px; */
    position: relative;
    height: 50px;
    border-top: 0.25px solid var(--border-gray-color);
}
.vp-pp-btn {
    position: absolute;
}
.vp-pp-btn-preview {
    left: 15px;
    top: 9px;
}
.vp-pp-btn-cancel {
    top: 9px;
    right: 106px;
}
.vp-pp-btn-runadd {
    position: absolute;
    top: 9px;
    right: 15px;
    width: fit-content;
    height: 30px;
    background: #F38504;
    border-radius: 2px;
}
.vp-pp-btn-run {
    display: inline-block;
    width: 60px;
    border-radius: 2px 0px 0px 2px;
    border-right: 0.25px solid white !important;
}
.vp-pp-btn-detail {
    display: inline-block;
    width: 20px;
    height: 28px;
    border-radius: 0px 2px 2px 0px;
    padding: 0;
}
.vp-pp-detail-box {
    display: none;
    background: white;
    border: 0.25px solid var(--border-gray-color);
    position: absolute;
    bottom: 35px;
    width: 84px;
    text-align: center;
    line-height: 30px;
}
.vp-pp-detail-item {
    color: var(--font-primary);
}
.vp-pp-detail-item:hover {
    color: var(--font-hightlight);
    background: var(--light-gray-color);
}
