.vp-pf {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1200;
    background-color: rgba(0,0,0,.4);
}
.vp-pf-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    min-width: 470px;
    min-height: 420px;
    width: 50%;
    height: 60%;
    background-color: white;
}
.vp-pf-title {
    height: 40px;
    padding: 5px 0px 5px 10px;
    background-color: #EEE;
    border:  1px solid #ddd;;
    display: flex; 
    flex-direction: row;
    position: relative;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}
.vp-pf-close,
.vp-pf-popup-close {
    position: fixed;
    z-index: 3;
    right: 5px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    top: 10px;
    text-align: center;
    cursor: pointer;
}
.vp-pf-body {
    width: 100%;
    height: calc(100% - 30px);
    padding: 10px;
}
.vp-pf-grid-box {
    display: grid;
    width: 100%;
    height: 100%;
    grid-row-gap: 5px;
    /* grid-template-rows: 60px calc(100% - 80px); */
    /* grid-template-rows: 80px calc(100% - 100px); */
    /* grid-template-rows: 80px min-content; */
    grid-template-rows: 60px 140px 150px;
}
.vp-pf-prepare-box {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: baseline;
    align-content: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
}
.vp-pf-link {
    color: var(--highlight-color);
}
.vp-pf-install-btn{
    margin-left: 7px;
}
.vp-pf-check-btn {
    display: inline-block;
    margin-left: 5px;
}
.vp-pf-import-btn {
    margin-left: 10px;
}
.vp-pf-show-box {
    display: grid;
    /* grid-template-rows: min-content min-content; */
    grid-row-gap: 10px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
}
.vp-pf-df-box {
    display: grid;
    grid-template-columns: 95px auto;
    grid-row-gap: 3px;
    align-items: baseline;
    align-content: space-evenly;
}
.vp-pf #vp_pfVariable { 
    width: 62%;
    height: 30px;
}
.vp-pf-df-refresh {
    display: inline-block;
    cursor: pointer;
    padding-left: 4px;
}
.vp-pf-input {
    width: 62%;
}
.vp-pf-menu-item {
    width: 112px !important;
    margin-left: 5px;
}

/** List box */
.vp-pf-list-box {
    display: grid;
    grid-template-rows: 20px calc(100% - 30px);
    grid-row-gap: 5px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
}
.vp-pf-list-header {
    display: grid;
    grid-template-columns: 35% 35% 30%;
}
.vp-pf-list-header-item {
    font-weight: bold;
}
.vp-pf-list-body {
    display: grid;
    grid-template-rows: 30px;
    overflow: auto;
}
.vp-pf-list-item {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    border: 0;
    line-height: 30px;
}
.vp-pf-list-item:hover {
    background: var(--light-gray-color);
    cursor: pointer;
}
.vp-pf-list-button-box {
    text-align: right;
}
.vp-pf-list-menu-item {
    display: inline-block;
}

/** Buttons */
.vp-pf-btn-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.vp-pf-btn-apply
, .vp-pf-popup-ok {
    width: 80px;
    height: 30px;
    background: #F37704;
    border: 0.25px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    color: #FFFFFF; 
}
.vp-pf-btn-apply:hover
, .vp-pf-popup-ok:hover {
    background:  var(--highlight-color);
}
.vp-pf-btn-cancel
, .vp-pf-popup-cancel {
    width: 80px;
    height: 30px;
    background: #E5E5E5;
    border: 0.25px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    color: #696969;
}
.vp-pf-btn-cancel:hover
, .vp-pf-popup-cancel:hover {
    background: #ccc;
}
