.vp-sn {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1200;
    background-color: rgba(0,0,0,.4);
}
.vp-sn-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    min-width: 400px;
    min-height: 400px;
    width: 95%;
    height: 95%;
    background-color: white;
}
.vp-sn-title {
    height: 30px;
    padding: 5px 0px 5px 10px;
    background-color: #EEE;
    border:  1px solid #ddd;;
    display: flex; 
    flex-direction: row;
    position: relative;
    font-weight: 700;
}
.vp-sn-close {
    position: fixed;
    z-index: 3;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 5px;
    text-align: center;
    cursor: pointer;
}
.vp-sn-body {
    width: 100%;
    height: calc(100% - 30px);
    padding: 10px;
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 35px 30px 60% calc(40% - 80px);
}