.vp-loading-spinner,
.vp-loading-spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.vp-loading-spinner {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 6px;
    text-indent: -9999em;
    border-top: 1.1em solid #f6ad55;
    border-right: 1.1em solid #f6ad55;
    border-bottom: 1.1em solid #f6ad55;
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: vp-load8 1.1s infinite linear;
    animation: vp-load8 1.1s infinite linear;
}
@-webkit-keyframes vp-load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes vp-load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}