/* Modal */
#vp_multiButtonModal {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1400;
    background-color: rgba(0,0,0,.4);
}
#vp_multiButtonModal .vp-multi-button-modal-box {
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 400px; 
    height: 170px;
    padding: 2rem;
	background-color: white;
    border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	font-family: AppleSDGothicNeo;
    font-size: 15px;
    /* CHROME: prevent colab box-sizing */
    box-sizing: border-box;
}
#vp_multiButtonModal * {
    box-sizing: border-box;
}
#vp_multiButtonModal .vp-multi-button-modal-message {
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 80px;
	overflow: hidden;
}
#vp_multiButtonModal .vp-multi-button-modal-message span {
	color: var(--font-highlight);
}
#vp_multiButtonModal .vp-multi-button-modal-message-inner {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	height: 80%;
}
#vp_multiButtonModal .vp-multi-button-modal-buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 60px;
}