#vp_fileioPage .vp-fileio-type {
    border: 1px solid var(--highlight-color);
    width: 100%;
    height: 35px;
    background-position: 97% 50%;
    cursor: pointer;
}
#vp_fileioPage .vp-fileio-body {
    padding: 5px;
    margin-top: 10px;
}
.vp-option-table {
}