/* Instance Toolbar */
.vp-instance-toolbar {
    padding: 5px 14px 0px 14px;
}
.vp-instance-toolbar .vp-toolbar-button,
.vp-instance-option-box .vp-apply-button {
    width: fit-content;
    height: 24px;
    background: #F5F5F5;
    border: 0.25px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
}

/* Instance Board - without equality */
.vp-instance-base .vp-instance-toggle-box,
.vp-instance-base .vp-instance-box.right {
    display: none;
}

/* Instance Board - with equality */
.vp-instance-base.equality {
    display: grid;
    grid-template-columns: calc(100% - 25px) 25px;
}
.vp-instance-base.equality > .vp-instance-toggle-box {
    display: block;
    grid-row: span 2;
    margin: 5px 0px 2px 0px;
    width: 25px;
}
.vp-instance-base.equality .vp-instance-toggle-btn {
    width: 25px;
    height: 100%;
    background: #F5F5F5;
    border: 0.25px solid #C4C4C4;
}
.vp-instance-base.equality > .vp-instance-box.right {
    display: block;
}

/* VP Board Selected */
.vp-instance-base.equality > .vp-instance-box.selected .vp-ab-container {
    border: 1px solid #F37704;
}

/* Instance Status */
.vp-instance-status {
    padding: 5px 14px 5px 14px;
}
#vp-wrapper .vp-instance-status table.vp-option-table {
    margin-left: 0px;
    margin-right: 0px;
}

/* Select Boxes */
.vp-instance-select-base {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding: 5px 14px 0px 14px;
}
.vp-instance-select-container {
}
.vp-select-title {
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}
#vp-wrapper .vp-instance-select-container input.vp-instance-search {
    width: 100%;
}
.vp-instance-select-box {
    margin-top: 5px;
    border: 0.25px solid #C4C4C4;
}
.vp-select-list {
    height: 100px;
    width: 100%;

    list-style: none;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    color: #696969;

    overflow: auto;
}
.vp-select-list::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.vp-select-list::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

.vp-select-list::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}
.vp-select-item {
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.vp-select-item span {
    background: #e0e0e0;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    margin-right: 5px;
}
.vp-select-item:hover {
    color: #F37704;
}
.vp-select-item:hover span {
    background: #F37704;
    color: #FFFFFF;
}
.vp-instance-option-box.api {
    width: 95%;
}

/* .vp-instance-option-box.object {
    display: none;
} */

.vp-option-title {
    display: inline-block;
    color: #696969;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.6px;
    /* margin: 16px 0px 14px 14px; */
    margin: 10px 0px 5px 14px;
}
.vp-var-api-box {
    color: #696969;
    background-color: #F5F5F5;
    padding: 10px 15px;
    max-width: 90%;
    max-height: 100px;
    overflow: auto;
}
.vp-var-api-list {
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 16px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    color: #696969;
}
.vp-var-api-list .vp-var-api-item {
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 2px;
}
#vp_varRefresh {
    color: var(--api-console-bg);
    cursor: pointer;

    display: inline-block;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background: transparent;
    background-image: url(../../resource/pandas/refresh.png);
}
.vp-icon-btn {
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.vp-add-col {
    /*color:  var(--font-hightlight);*/
    background-image: url(../../resource/plus_circle.svg);
}
.vp-del-col,
.vp-close-view {
    background-image: url(../../resource/close_big.svg);
}
.vp-close-view {
    z-index: 99;
    float: right;
}

/* Variable View Style */
.vp-var-view-box {
    display: none;
    position: absolute;
    width: 350px;
    height: 200px;
    border: 0.25px solid #C4C4C4;
    background: #FFFFFF;
    color: #696969;
    padding: 5px;
    z-index: 99;
    right: 4%;
}
#vp-wrapper .vp-var-view-box .vp-var-view-div {
    max-height: 84px;
    overflow: auto;
}
#vp-wrapper .vp-var-view-box table.vp-option-table.vp-var-view-list,
#vp-wrapper .vp-var-view-box table.vp-option-table.vp-var-view-detail {
    margin-left: 10px;
}
#vp-wrapper .vp-var-view-box .vp-var-view-list tbody tr:hover {
    background: #C4C4C4;
    padding: 3px;
    cursor: pointer;
}
#vp-wrapper .vp-var-view-box .vp-var-view-list tbody tr.selected {
    color:  var(--font-hightlight);
}
#vp_varDetailArray {
    max-height: 50px;
    overflow: auto;
}