:root {
    --color: #525252;
}
#vp_var_variableBox table tr:not(:first-child):hover,
#vp_var_variableBox table tr.selected {
    color: var(--font-hightlight);
    background-color: #F5F5F5;
}
#vp_var_variableBox table tr td:first-child:hover {
    cursor: pointer;
}
#vp_varDetailTable table th, 
#vp_varDetailTable table td {
    padding: 5px;
}
#vp_varDetailTable table th {
    background-color: lightgray;
}
#vp_varRefresh{
    margin-left: 7px;
}
#vp_varRefresh:hover {
    cursor: pointer;
}
#vp_var_variableBox {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
#vp_varDetailTable:empty::after {
    content: '(Select variables to preview the data.)';
    color: var(--highlight-color);
    font-style: italic;
}
#vp_varDetailTable {
    width: 100%;
    height: 300px;
    overflow: auto;
}