<!--
    Project Name    : Visual Python
    Description     : GUI-based Python code generator
    File Name       : alertModal.html
    Author          : Black Logic
    Note            : Alert modal
    License         : GNU GPLv3 with Visual Python special exception
    Date            : 2021. 12. 15
    Change Date     : 
-->
<!-- use body tag to strip comments out on requirejs/text plugin -->
<body>
    <div id="vp_alertModal">
        <div class="vp-alertModal-container" >
            <div class="vp-alertModal-inner 
                        vp-alertModal-style-flex-column-evenly">

                <div class="vp-alertModal-style-flex-row-center">
                    <i class="vp-alertModal-icon" aria-hidden="true">
                    </i>
                </div>

                <div class="vp-alertModal-titleStr 
                            vp-alertModal-style-text-center 
                            vp-alertModal-style-font-weight-700">
            
                </div>
                <div class="vp-alertModal-style-flex-row-center">
                    <input class="vp-alertModal-yes 
                                vp-alertModal-input-button" type="submit" value="OK" />
                </div>
            </div>
        </div>
    </div>
</body>