<body>
    <div class="vp-dataselector-base">
        <div class="vp-dataselector">
            <div class="vp-inner-popup-header">
                <label class="vp-inner-popup-title">Data Selector</label>
                <!-- LAB: img to url -->
                <!-- <img class="vp-inner-popup-close" src="${vp_base}/img/close_big.svg" title="Close data selector"/> -->
                <div class="vp-inner-popup-close" title="Close data selector"></div>
            </div>
            <div class="vp-inner-popup-body vp-scrollbar">
                <div class="vp-grid-col-p50">
                    <label class="vp-bold">Type</label>
                    <label class="vp-bold">Data</label>
                </div>
                <div class="vp-ds-data-box vp-grid-col-p50">
                    <div class="vp-ds-type-box vp-grid-box vp-scrollbar vp-no-selection">
    
                    </div>
                    <div class="vp-ds-variable-box vp-grid-box vp-scrollbar vp-no-selection">
                        
                    </div>
                </div>
                <hr style="margin: 0px;"/>
                <div class="vp-ds-option-box">
                    <label class="vp-bold">Option Page</label>
                    <div class="vp-ds-option-inner-box">
    
                    </div>
                </div>
            </div>
            <div class="vp-inner-popup-footer">
                <div class="vp-inner-popup-button-box">
                    <button type="button" class="vp-button" id="vp_dsCancel">Cancel</button>
                    <button type="button" class="vp-button activated" id="vp_dsOk">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>