:root {
    --connected-bg-color: #545454;
    --nodeCodeLine-selected-border-color: #545454;
}
svg {
    position: absolute;
    top: 0px;
    left: 0px;
    /* z-index: -100; */
    width: 100%;
    height: 100%;
}
.blpn-nodeEditor-body {
    background-color: #fafafa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    color: #777;
    /* justify-content: ; */
}

.blpn-nodeEditor-left {
    position: relative;
    width: 100%;

    /* width: 70%; */
    /* z-index: -1; */
        /* background-color: #fafafa; */
        /* background-color: rgb(26, 28, 29); */
        /* background-image: linear-gradient( 0deg, transparent 24%, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.04) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.04) 75%, rgba(255, 255, 255, 0.04) 76%, transparent 77%, transparent ), linear-gradient( 90deg, transparent 24%, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.04) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.04) 75%, rgba(255, 255, 255, 0.04) 76%, transparent 77%, transparent ); */
    color: #000;
    background-size: 30px 30px;
}
.blpn-nodeEditor-tab-click {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 0px;
    right: 0px;
}

.blpn-node {
    /* width: 100px; */
    min-width: 180px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    text-align: left;
    border: 1px solid #d4d4d4;
    touch-action: none;
    cursor: pointer;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, .6); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 70px;
    border-top-right-radius: 0px;

    display: inline-block;
    background-color: white;
}
    
.blpn-node p {
    padding: 5px;
}
  
.blpn-node-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* padding: 10px; */
    /* cursor: move; */
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
}

.blpn-nodeEditor-right {
    /* width: 25%; */
    padding: 0.5rem;
    width: 500px;
    border-left: 1px solid #d4d4d4;
    background-color: white;

    /* overflow-y: auto; */
}

.blpn-nodeEditor-tab-title {
    text-align: center;
}

.blpn-nodeEditor-tab-navigation {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    border: 1px solid #d4d4d4;
}

.blpn-nodeEditor-tab-navigation-element {
    width: 33%;
    height: 100%;
    border-right: 1px solid #d4d4d4;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 12px;
}

.blpn-nodeEditor-tab-navigation-element span {
    color: #777;
}

.blpn-nodeEditor-tab-navigation-element:hover span {
    cursor: pointer;
    /* transition: 0.7s; */
    font-weight: 700;
    color: #545494;
}

.blpn-nodeEditor-tab-search-input {
    position: relative;
    width: 100%;
    border: 1px solid #d4d4d4;
    margin-top: 10px;
}

.blpn-nodeEditor-tab-search-input input {
    position: relative;
    width: 100%;
    padding: 0.3rem;
    /* height: 100%; */

    border: 1px solid transparent;
    background-color: transparent;
    outline: 0px;
    color: #d9d9d9;
}

.blpn-nodeEditor-tab-navigation-node-container {
    overflow-y: auto; 
    height: 80%;
}

.blpn-nodeEditor-tab-navigation-node-block {
    position: relative;
    margin-top: 15px;
}

.blpn-nodeEditor-tab-navigation-node-block-title {
    border-bottom: solid 1px #d4d4d4; 
    font-size: 13px;
    font-weight: 700;
    padding: 0.5rem 0;
    color: #545494;
}

.blpn-nodeEditor-tab-navigation-node-body {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.blpn-nodeEditor-tab-navigation-node-block-body-btn, 
.blpn-nodeEditor-tab-navigation-node-operator-body-btn  {
    background-color: white;
    text-align: center;
    position: relative;
    width: 25%;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    z-index: 100;
    border: 1px solid #d4d4d4;

    cursor: pointer;
    margin-top: 5px;
}

.blpn-nodeEditor-tab-navigation-node-block-body-btn span,
.blpn-nodeEditor-tab-navigation-node-operator-body-btn span {
    font-size: 13px;
}










/* 스크롤바 */
/* scrollbar // */
.blpn-nodeEditor-scrollbar::-webkit-scrollbar {
    width: 0.5em;
}
            
.blpn-nodeEditor-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
            
.blpn-nodeEditor-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    outline: 1px solid slategrey;
}


.blpn-minimize {
    height: 40px;
    overflow: hidden;
}

.blpn-nodeEditor-tab-navigation-node-block-title {
    display: flex;
    flex-flow: row;
}
.blpn-node-input {
    width: 100%;
    position: relative;
    padding: 0.3rem;
    border: 1px solid #d4d4d4;
    background-color: transparent;
    outline: 0px;
    /* color: #d9d9d9; */
}
.blpn-node-btn {
    background-color: #545454;
    color: white;
    text-align: center;
}

.blpn-node-btn:hover {
    cursor: pointer;
    transition: 0.7s;
    background-color: white;
    color: #545454;
}

.blpn-node-codeline {
    width:200px !important;
    height: 25px;
    padding: 0.1em .3em .25em;
    width:70%; 
    border: 1px dashed gray;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blpn-node-emptyline {
    width:200px !important;
    min-height: 25px;
    padding: 0.1em .3em .25em;
    width:70%; 
    /* border: 1px dashed gray; */

    /* text-align: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blpn-node-codeline span {
    color: #d9d9d9;
}

.blpn-node-link-container {
    position: relative;
}
.blpn-node-next {
    position:relative; 
    font-size:12px; 
    margin-left:10px;
}

.blpn-node-headlink {
    position: absolute;

    width: 0.7em;
    height: 0.7em;
    border: 1px solid #545454;
    border-radius: 0.7em;
    cursor: pointer;
    content: "";
    left: -1.4em;
    top: 0.40em;
    background-color: white;
}
.blpn-node-link {
    position: absolute;
        /* width: 100%; */
        /* position: relative; */
    width: 0.7em;
    height: 0.7em;
    border: 1px solid #545454;
    border-radius: 0.7em;
    cursor: pointer;
    content: "";
    right: -1.8em;
    top: 0.40em;

    background-color: white;
}

.blpn-node-headlink,
.blpn-node-link:after {
    position:absolute;
    border: 1px solid #545454;
    width: 0.7em;
    height: 0.7em;
    border-radius:0.7em;  
}

.blpn-node.connected > .blpn-node-header > .blpn-node-headlink,
.blpn-node-link.filled:after{
    border:solid 1px transparent;
    background-color: var(--connected-bg-color);
}

.filled {
    border:solid 1px transparent;
    background-color: var(--connected-bg-color);
}

.empty {
    border: 1px solid #545454;
    background-color: white;
}

.blpn-nodeCodeLine-selected {
    border: 3px dashed var( --nodeCodeLine-selected-border-color)!important;
    box-shadow: 0 0 20px -5px  var( --nodeCodeLine-selected-border-color);
}

.blpn-node-codeline-selected-span {
    color: var(--nodeCodeLine-selected-border-color);
}

.blpn-node-codeline-span-new {
    color: #545454  !important;
}
/* .blpn-node-if-button-container { */
    /* margin-top: 10px; */
/* } */

.blpn-node-element-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* // style // */

.blpn-style-flex-row {
    display: flex;
    flex-direction: row;
}

.blpn-style-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blpn-style-flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blpn-style-flex-row-center-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.blpn-style-flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blpn-style-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
